.detailsContainer {
    display: flex;
    flex-direction: column;
    background: #DAE5F5;
    height: 100vh;
    /* width: 75%; */
    flex-grow: 10;
    justify-content: space-between;
}

.detailsTop {
    height: 4rem;
    background: #001F8B;

}

.detailsBottom {
    background: #001F8B;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    position: relative;   /* Make sure the position is set so that absolute positioning works for .sendMessage */
    textarea{
        flex: 1; /* Make textarea take all available width within the container */
        height: 7rem; /* Set a specific height to make it visible */
        border-radius: 0.5rem;
        border: none;
        outline: none;
        resize: none;
        padding: 1rem;
        font-size: 1.1rem;
        letter-spacing: -0.1px;
        word-spacing: -0.2rem;
    }
    textarea::placeholder{
        font-size: 1.1rem;
        font-weight: 600;
    }
}
.sendMessage{
    width: 1.8rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}