.detailsContainer {
  display: flex;
  flex-direction: column;
  background: #dae5f5;
  height: 100vh;
  width: 77.5%;
  justify-content: space-between;
  
}

/* ==TOP== */
.detailsTop {
  height: 4rem;
  background: #001f8b;
  color: white;
  /* width: 100%; */
}

.groupDetailsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  float: inline-start;
  padding: 0.8rem;
}

.listItemLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 750;
  font-size: 0.9rem;
  margin-right: 0.8rem;
  letter-spacing: 1px;
}
.listItemName {
  font-size: 1rem;
  font-weight: 600;
}

/* ==MIDDLE== */
.noteContainer {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  margin: 0.5rem 1rem;
  max-width: 96%; /*Restrict width on larger screens*/
  display: flex;
  overflow-wrap: break-word; /* Allows long words to break and wrap */
  word-break: break-word; /* Ensures long words break within container */
  flex-direction: column;
}
.note {
  padding: 0.5rem;
  font-size: 1rem;
  white-space: normal; /* Allows text to wrap to the next line */
  overflow-wrap: break-word; /* Breaks long words to prevent overflow */
  word-break: break-word; /* Breaks words if they're too long for the container */
}
.noteArea{
  display: flex;
  flex-direction:column;
  flex-grow: 1;
  overflow-y: auto; 
}
.noteDateTime{
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  font-weight: 550;
  padding-top: 0.4rem;
}

/* ==BOTTOM== */
.detailsBottom {
  background: #001f8b;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  max-width: 100vw; 
  textarea {
    height: 7rem; 
    border-radius: 0.5rem;
    border: none;
    outline: none;
    resize: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
  }
  textarea::placeholder {
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }
}
.sendButton {
  width: 1.8rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  color: #001f8b;
}



@media only screen and (max-width: 500px){
    .detailsContainer{
        width: 100%;
    }
}