.mainContainer {
  display: flex;
  height: 100vh;
}

/* ==LEFT SIDE== */
.leftSide {
  width: 22.5%;
  text-align: center;
  padding-top: 0.5rem;
  overflow-y: auto;
  position: relative;
  h1 {
    font-size: 2.3rem;
    font-weight: 700;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}

.addButtonContainer {
  position: fixed;
  background-color: #16008b;
  bottom: 4rem;
  left: 13rem;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.6rem;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* ==RIGHT SIDE== */
.rightSide {
  /* flex-grow: 3; */
  min-width: 77.5%;
  background-color: #dae5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightSideTextContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 21rem;
}

.noteLineContainer {
  display: flex;
  flex-direction: column;
}

.bannerImage {
  width: 30rem;
  height: 25rem;
  padding-top: 9rem;
}

.bannerText {
  color: #292929;
  font-size: 0.8rem;
  font-weight: 600;
}

.bannerText2 {
  padding-bottom: 6rem;
}

.privacyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.3rem;
  color: #292929;
}

.listItems {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
  padding-left: 1.5rem;
  border-radius: 0.5rem;
}

.listItemLogo {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1.1rem;
  margin-right: 0.8rem;
  letter-spacing: 1px;
}

.listItemName {
  font-size: 1.2rem;
  font-weight: 600;
}

/* ==MEDIA QUERY== */

@media only screen and (max-width: 650px) {
  .addButtonContainer{
    left: 21rem;
  }  
  .header {
    font-size: 3.5rem;
  }
  .leftSide {
    width: 100%;
    height: 100%;
  }

  .rightSide {
    display: none;
  }
  .detailsContainer {
    width: 100%;
  }
}
