.mainContainer{
    display: flex;
    height: 100vh;
    position: relative;
}
/* LEFT SIDE */
.leftSide{
    width: 24rem;
    text-align: center;
    padding-top: 2rem;
}
/* + button */
.addButtonContainer{
    position: fixed;
    background: #16008B;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35rem;
    left: 18rem;
}
.addButton{
    position: fixed;
    color: white;
    font-size: 3.5rem;
    font-weight: 700;
}

/* RIGHT SIDE */
.rightSide{
    flex-grow: 3;
    /* min-width: 100vw; */
    background-color: #DAE5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rightSideText{
    display: flex;
    /* justify-content: space-between; */
    /* gap: 5rem; */
    align-items: center;
    flex-direction: column;
    max-height: 10rem;
}
.bannerImage{
    width: 30rem;
    height: 15rem;
    padding-top: 9rem;
}
.bannerText{
    color: #292929;
    font-size: 0.8rem;
    font-weight: 600;
}
.bannerText2{
    padding-bottom: 6rem;
}
.privacyContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    gap: 0.3rem;
    color: #292929;
}